<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chi tiết sản phẩm</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/chitietsanpham.css">
</head>
<body>
	<header>
		<div class="container-fluid head_top d-flex justify-content-between align-items-center">
			<div class="store_system">
				<i class="fas fa-map-marker-alt"></i> Hệ thống cửa hàng
			</div>
			<div class="menu_top">
				<nav class="nav">
				  <a class="nav-link border-right" href="#">Về chúng tôi</a>
				  <a class="nav-link border-right" href="#">Phương Thức Thanh Toán</a>
				  <a class="nav-link" href="#">Tin Tức</a>			
				</nav>
			</div>
		</div>
		<div class="head_bottom container-fluid py-3">
			<div class="row align-items-center">
				<div class="col-2">
					<img class="logo" src="../images/logo.png">
				</div>
				<div class="col-4">
					<form id="form_search" method="GET" action="">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="Tìm kiếm ..." aria-label="" aria-describedby="basic-addon2">
						  <div class="input-group-append">
						    <span class="input-group-text" id="basic-addon2">Tìm kiếm</span>
						  </div>
						</div>
					</form>
				</div>
				<div class="col-3">
					<div class="contact_top">
						<div class="phone_number">0984 613 393</div>
						<p class="time w-100 text-center mb-0">(8h30 - 12h15 & 13h30 - 19h15)</p>
					</div>
				</div>
				<div class="col-3">
					<div class="row">
						<div class="col-6">
							<div class="login_register">
								<i class="fas fa-user"></i>
								<div>
									Tài khoản
									<p>
										<a href="">Đăng nhập</a> | <a href="">Đăng ký</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="cart">
								<i class="fal fa-shopping-cart"></i>
								<span>Giỏ hàng</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/bootstrap.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</html>
